---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="About QuakeScope">
    
  <section class="text-3xl px-96 py-14">
    <div class="">
      <h2 class="pt-40 pb-40 flex flex-col">
        <hr class="mb-6" />
        <cite class="text-4xl">
          "An enriching experience, in which we felt that we could contribute to
          the important work that NASA does for humanity."
        </cite>
        <p class="mt-6 font-light">Juan Albis</p>
        <hr class="mt-6" />
      </h2>
    </div>
    <p class="mb-10">
      Words from Juan Albis, Data Science student at Universidad del Norte. Who
      along with the entire team that has worked on this project shared the
      excitement of being able to solve a real problem for the leading agency in
      space exploration.
    </p>

    <p class="mb-10">
      In this great challenge that we have taken on these last two days we put
      all our efforts to achieve a system for the detection of seismic activity
      on the Moon and Mars, with which we can contribute to the more efficient
      delivery of information by NASA, which in addition to supporting the
      research work on these phenomena in space bodies, we can also reduce
      operating costs to carry out these investigations.
    </p>

    <p class="mb-10">
      In the 48 hours of this Hackathon an arduous joint effort materialized
      that was full of difficulties, however, after each theoretical advance we
      were gradually filling up with illusions to finish this project and new
      ways of approaching this problem were opening up.
    </p>

    <p class="mb-10">
      Finally, we were able to present this visualization portal where you can
      access the practical results of this project, as well as the documentation
      regarding the theoretical basis and the algorithms implemented to reach
      this solution, with which we seek to generate a positive impact on future
      NASA projects.
    </p>
  </section>
</Layout>
