<section class="pb-40">
  <p class="text-4xl">
    <strong>QuakeScope</strong> is an <strong>innovative proposal</strong> developed
    for the <strong>NASA International Space Apps Challenge</strong> in Barranquilla, with
    a focus on understanding lunar earthquakes caused by meteor impacts on the surface
    of the Moon. This groundbreaking initiative aims to deepen our comprehension of 
    seismic phenomena not only on the Moon but also on other celestial bodies within 
    our solar system.
  </p>

  <p class="text-4xl">
    By leveraging advanced technologies and interdisciplinary research, <strong>QuakeScope</strong> seeks 
    to unveil the hidden dynamics of lunar geology. This project utilizes state-of-the-art 
    seismographs and data analysis techniques to gather and interpret seismic data, providing 
    valuable insights into the Moon's geological activity.
  </p>

  <p class="text-4xl">
    The project explores the <strong>seismological mysteries</strong> of Earth's natural satellite 
    and the Red Planet, analyzing the seismic activity patterns caused by <strong>cosmic collisions</strong>. 
    Through a <strong>scientific and technological approach</strong>, <strong>QuakeScope</strong> aims not only to 
    decipher these events but also to offer new perspectives for future space missions.
  </p>

  <p class="text-4xl">
    This research contributes to our understanding of the stability and safety of <strong>lunar settlements</strong>. 
    Additionally, the insights gained from this research could inform the design of protective measures 
    for astronauts and equipment during future lunar explorations, ensuring a safer environment as we 
    aim to establish a sustained human presence on the Moon.
  </p>

 
</section>


<style>
  section {
  }
  p {
    color: var(--md-sys-color-outline);
    --tw-text-opacity: 1;
    
    font-weight: 500;
    padding: 6.5% 6rem 0 6rem;
    text-align: justify; 
    margin: auto;
  }
  strong {
    color: var(--md-sys-color-secondary-container);
  }
</style>
